<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Speakie: Speech To Text Notes.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>449DF0912E158EA80090425C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>449DF0A72E158EAA0090425C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>449DF0B12E158EAA0090425C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
